#logo {
    height: 50px;
}

#nav-item {
    font-size: medium;
    font-weight: bold;
}

#nav-item:hover {
    color: darkorange;
    cursor: pointer;
}

#nav {
    display: flex;
    gap: 20px;
    border: 1px solid black;
    align-items: center;
}